body {
  background-image: url(https://t4.ftcdn.net/jpg/05/99/00/79/360_F_599007953_u3IyNRlZXsZd8pMu2qSdByjDf8PcKWt7.jpg);
  margin-top: -2%;
}

h1 {
  background-color: rgba(0,0,0,0.7);
  border: 3px solid #ffd06c;
  padding: 1%;
  color: #ffd06c;
  text-align: center;
  font-size: 3rem;
  font-weight:bold;
}

#pizzaForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
}

.pizzab {
 background-color: rgba(0,0,0,0.7);
 color: #ffd06c;
 padding: 1%;
 padding: 2%;
 font-size: 0.8rem;
 margin-top: 1%;
 margin-bottom: 2%;
 border: 2px solid #ffd06c;
}

#resultado {
  background-color: rgba(0,0,0,0.7);
  color: #ffd06c;
  border: 2px solid #ffd06c;
  text-align: center;
  font-size: 0.8rem;
  margin-top: -3%;
}

#pizzaSelect {
  background-color: rgba(0,0,0,0.7);
  padding: 0.5%;
  color: #ffd06c;
  font-size: 1.1rem;
  margin-bottom: 5.3%;
  text-align: center;
  border: 3px solid #ffd06c;
}

.secondary {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-bottom: 4.9%;
}